:root {
/* =====================================================================================
                                      var(--name)                                      
=====================================================================================*/

/* =====================================================================================
                                      COLOR                                      
=====================================================================================*/
  /* Background color */
  --bgcolor: rgb(244,246,249);

  /* Slidebar color */
  --barcolor: #14181d;
  --barhover: #494E53;

  /* Header color */
  --headercolor: rgb(40,40,40);

  /* Shape color*/
  --shapecolor: #1b1f22;

  /* Basic color */
  --red: #dc3545;
  --yellow: rgb(255,178,36);
  --blue: rgb(60,141,188);
  --green:rgb(0,166,90);
  --violet: rgb(147,42,182);
/* =====================================================================================
                                      FONT                                     
=====================================================================================*/
 --font: 'be vietnam pro semibold';

/* =====================================================================================
                                      SIZE                                     
=====================================================================================*/

  /* Cách left và chiều dài của screen */
  --left: 15vw;
  --width: calc(100vw - var(--left));
  
  /*Height của header ~ top của screen*/
  --tophead: 7vh;
  /*Height của screen*/
  --height: calc(100vh - var(--tophead));
}

html {
  font-size: 100%;
  /* 1rem ~ 16px */
}