/* =====================================================================================
                                MAN HINH CHINH
  =====================================================================================*/
#Screen_Main {
    overflow: auto;
    position: absolute;
    top: var(--tophead);
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: var(--height);
    background-color: var(--bgcolor);

}


/* ===============================================================
                             IMAGE                                   
=================================================================*/
#EDA {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

/* ===============================================================
                             LIST                                   
=================================================================*/
#Screen_Main .list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 17px;
    margin: 22px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.0);
    border-radius: 30px;
}

#Screen_Main .list-container .list-item {
    
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: var(--font);
}

#Screen_Main .list-knob{
    display: block !important;
    text-align: center;
    margin: 10px 0 -45px;
}

#Screen_Main .list-text{
    text-align: center;
}

/* ===============================================================
                        SHAPE MODULE FAULT                                   
=================================================================*/
.shape_fault {
    display: flex;
    flex-direction: column;
    /* Thêm thuộc tính này để sắp xếp theo chiều dọc */
    justify-content: center;
    /* Căn giữa theo chiều dọc */
    align-items: center;
    /* Căn giữa theo chiều ngang */
    width: 200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    color: white;
    border: none;
    font-size: 1rem;
    font-family: var(--font);
    text-align: center;
    margin-top: 15px;
}

.inner_shape_fault {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 200px;
    height: 70px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}

/* =====================================================================================
                             REPONSIVE FOR MOBILE
  =====================================================================================*/
/* Mobile: width < 740 px */
@media only screen and (max-width: 46.1875em) {
    #Screen_Main .list-container {
        grid-template-columns: 1fr;
    }
}

/* =====================================================================================
                             REPONSIVE FOR TABLET
  =====================================================================================*/
/* Table: width >= 740 px and width <1024 px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    #Screen_Main .list-container {
        grid-template-columns: 1fr 1fr 1fr ;
    }

}