#Screen_Setting {
    overflow: auto;
    position: absolute;
    top: var(--tophead);
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: var(--height);
    background-color: var(--bgcolor);
    display: flex;
    justify-content: center;
    align-items: center;
}

#Screen_Setting .list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ; 
    gap: 16px;
    margin: 25px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.0);
    border-radius: 30px;
}


#Screen_Setting .list-container .list-item {
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: var(--font);
}

#Screen_Setting .list-knob{
    display: block !important;
    text-align: center;
    margin: 10px 0 -45px;
}

#Screen_Setting .list-text{
    text-align: center;
}



/* =====================================================================================
                             REPONSIVE FOR MOBILE
  =====================================================================================*/
/* Mobile: width < 740 px */
@media only screen and (max-width: 46.1875em) {
    #Screen_Setting .list-container {
        grid-template-columns: 1fr;
    }
}

/* =====================================================================================
                             REPONSIVE FOR TABLET
  =====================================================================================*/
/* Tablet: width >= 740 px and width <1024 px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    #Screen_Setting .list-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}